<div class="container">
  <div class="row m-t-5">
    <div class="twelve columns">
      <h1>julien lafosse</h1>
      <p>sound designer & nerd</p>
      <div class="menu m-t-5">
        <p><b>portfolio</b></p>

        <input type="radio" name="menu" id="tous" checked>
        <label class="a" for="tous" onclick="tab('project')">(tous)</label>

        <input type="radio" name="menu" id="spectacle">
        <label class="a" for="spectacle" onclick="tab('spectacle')">spectacle</label>

        <input type="radio" name="menu" id="installation">
        <label class="a" for="installation" onclick="tab('installation')">installation</label>

        <input type="radio" name="menu" id="radio">
        <label class="a" for="radio" onclick="tab('radio')">radio</label>

        <input type="radio" name="menu" id="divers">
        <label class="a" for="divers" onclick="tab('divers')">divers</label>
        |
        <input type="radio" name="menu" id="actu-contact">
        <label class="a" for="actu-contact" onclick="tab('actu-contact')">actualités / contact</label>
      </div>
    </div>
  </div>
</div>
